#header span.menu{position: relative; float: right;}
#header span.menu ul a{
	position: relative;
	float: left;
	text-align: center;
	padding: 0 5px;
}

#header span.menu ul a:nth-last-of-type(1){
	margin-right: 20px;
}

#header span.menu ul a:hover{
	border-bottom: solid 3px #161b61;
	margin-top: -3px;
}

.title{
	font-size: 15px;
	
}

section.wrap2{
	margin-top: 0px;
}

#choose img{
	cursor: pointer;
}

#choose img:hover{
	opacity: 0.7;
}

.choose h3{
	padding-bottom: 10px;
}

.choose p{
	margin-left: 35px;
}

.choose p:nth-of-type(1){
	margin-top: 20px;
}

.voice{
	width: 48%;
	height: 300px;
	margin: 3% 2% 0 0;
	background: url(../images/voiceBg.png);
	border-radius: 5px;
	font-weight: 900;
	float: left;
}

.voice img{
	margin: 20px 10px 10px 20px;
	float: left;
}

.voice h1{
	padding-top: 30px;
	font-size: 16px;
}

.voice p:nth-of-type(1){
	padding-top: 1em;
}

.voice .mini{
	font-size: 11px;
	margin-top: -10px;
}

.voice hr{
	width: 210px;
	height: 2px;
	background: #ccc;
	border: none;
	margin-top: -3px;
	margin-left: 0px;
}

.voice .text{
	padding: 2em 20px;
	display: block;
	font-size: 11px;
}

.voice .text p{margin-top: -20px;}

div.iframeWrap{
    position: relative;
    width: 100%;
}

.EDGE-7290059{
	top: 80px
}

.gridWrapper{margin-top: 190px;}
.step img{cursor: pointer;}
.step p{padding: 0.5em 2em;}
h3.step1{border-top: solid 2px #2a6093;}
h3.step1:before{background: #2a6093;}
h3.step2{border-top: solid 2px #7bc2bc;}
h3.step2:before{background: #7bc2bc;}
h3.step3{border-top: solid 2px #e4c592;}
h3.step3:before{background: #e4c592;}
h3.step4{border-top: solid 2px #a22b29;}
h3.step4:before{background: #a22b29;}

#Fixation{
	position: fixed;
	width: 200px; height: 200px;
	top: 50%; right: 0;
	margin: -100px 0;
}

@media only screen and (max-width:959px){
.voice{
	width: 48%;
	height: 280px;
}

.voice h1{
	padding-top: 30px;
	font-size: 16px;
}

.voice hr{
	width: 280px;
}

.EDGE-7290059{
	top: 80px;
}

#Fixation{
	position: fixed;
	width: 150px; height: 200px;
	bottom: 0; right: 0;
	margin: 150px 0;
}

#Fixation img{
	max-width: 150px;
}

}

/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
#header span.menu{float: left;left: 50%;margin:2% -25%;}
.voice{
	width: 95%;
}

.voice hr{
	width: 210px;
}

.voice .text p{margin-top: -20px;}

}

/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
#header span.menu{float: left;left: 50%;margin:2% -40%;}
.EDGE-7290059{
	top: 50px;
}

.gridWrapper{
	width: 100%;
	height: 300px;
	margin-top: 0px;
}

.gridWrapper .grid{
	position: relative;
	float: left;
	width: 45%;
	left: 3%;
	top: 80px;
	text-align: center;
}

.gridWrapper .box{
	margin: 0;
	padding: 0;
}

}